In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import pandas 
import numpy as np

import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF
py.sign_in('meat','ma6ky946ns')

In [2]:
cereal = pandas.read_csv('/Users/davidleifer/Documents/cereals.csv')

In [3]:
cereal.head()

,NAME,BRAND,Clean_launch_year,Clean_end_year,Launch_decade,End_decade,Launch_Year,End_year,TENURE (YEARS)
0,Grape-Nuts,Post,1897,Currently Available,1890,Currently Available,1897,Currently Available,119
1,Corn Flakes,Kellogg's,1907,Currently Available,1900,Currently Available,1907,Currently Available,109
2,Krumbles-Kellogg's,Kellogg's,1913,1973,1910,1970,1913,1973,60
3,All-Bran,Kellogg's,1916,Currently Available,1910,Currently Available,1916,Currently Available,100
4,Rice Krispies,Kellogg's,1929,Currently Available,1920,Currently Available,1929,Currently Available,87

In [4]:
df = cereal [[0,2]]

In [5]:
df = df[df.Clean_launch_year != 'None']

/usr/local/lib/python2.7/site-packages/pandas/core/ops.py:716: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

TypeError: invalid type comparison

In [6]:
df.head()

                 NAME  Clean_launch_year
0          Grape-Nuts               1897
1         Corn Flakes               1907
2  Krumbles-Kellogg's               1913
3            All-Bran               1916
4       Rice Krispies               1929

In [7]:
total_c_by_year = df.groupby('Clean_launch_year').count().reset_index()
total_c_by_year.head(5)

   Clean_launch_year  NAME
0               1897     1
1               1907     1
2               1913     1
3               1916     1
4               1929     1

In [9]:
_x = total_c_by_year['Clean_launch_year']
_y = df['NAME']

# Create a trace
trace = go.Scatter(
    x = _x,
    mode = 'markers',
        marker = dict(
        size = 6,
        color = 'rgb(156, 231, 193)',

    )
       
)

data = [trace]

layout =  dict(title='Number of cereals launched by year',
    hovermode='closest',
    xaxis=dict(
        title='Cereal launch year',
        ticklen=5,
        zeroline=False,
        gridwidth=2,
    ),
)


# Plot and embed in ipython notebook
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-scatter2')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~meat/0 or inside your plot.ly account where it is named 'basic-scatter2'

In [11]:
df1 = cereal [[0,4]]

In [12]:
df1 = df1[df1.Launch_decade != 'None']

TypeError: invalid type comparison

In [13]:
df1.head()

                 NAME  Launch_decade
0          Grape-Nuts           1890
1         Corn Flakes           1900
2  Krumbles-Kellogg's           1910
3            All-Bran           1910
4       Rice Krispies           1920

In [14]:
#Creating a histogram of cereal by launch decade
x = df1['Launch_decade']
data = [
    go.Histogram(
        x=x,
        marker=dict(
        color='rgb(255, 217, 102)'
    ),
    opacity=.45
)
    ]

layout = go.Layout(
    title='Histogram of cereal launches',
    xaxis=dict(
        title='Year bin'
    ),
    yaxis=dict(
        title='n-count'
    ))

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-histogram')

In [15]:
df2 = cereal [[1,2]]

In [16]:
df2.head()

       BRAND  Clean_launch_year
0       Post               1897
1  Kellogg's               1907
2  Kellogg's               1913
3  Kellogg's               1916
4  Kellogg's               1929

In [19]:
ranked_brands = df2.groupby('BRAND').count().sort_values(by='Clean_launch_year',ascending=False).reset_index()

In [20]:
ranked_brands = ranked_brands.head(5)
ranked_brands.head()

           BRAND  Clean_launch_year
0  General Mills                 67
1      Kellogg's                 62
2           Post                 31
3         Quaker                 17
4        Ralston                  9

In [21]:
#bar chart


x = ranked_brands['BRAND']
y = ranked_brands['Clean_launch_year']

data = [
    go.Bar(
        x=x,
        y=y,
        marker=dict(
            color='rgb(243, 118, 121)',
            line=dict(
                color='rgb(8,48,107)',
                width=1.5
            ),
        ),
        opacity=0.6
    )
]
layout = go.Layout(
      title='Number of cereal launches by brand',
    xaxis=dict(
        title='Brand'
    ),
    yaxis=dict(
        title='total # cereal launches'
    ),
    
    annotations=[
        dict(
            x=xi,
            y=yi,
            text=str(yi),
            xanchor='center',
            yanchor='bottom',
            showarrow=False,
        ) for xi, yi in zip(x, y)]
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='cereal_launches')

In [22]:
df3 = cereal [[0,1,2,3]]
df3.head(5)

                 NAME      BRAND  Clean_launch_year       Clean_end_year
0          Grape-Nuts       Post               1897  Currently Available
1         Corn Flakes  Kellogg's               1907  Currently Available
2  Krumbles-Kellogg's  Kellogg's               1913                 1973
3            All-Bran  Kellogg's               1916  Currently Available
4       Rice Krispies  Kellogg's               1929  Currently Available

TypeError: invalid type comparison

In [25]:
df3.head()

                 NAME      BRAND  Clean_launch_year       Clean_end_year
0          Grape-Nuts       Post               1897  Currently Available
1         Corn Flakes  Kellogg's               1907  Currently Available
2  Krumbles-Kellogg's  Kellogg's               1913                 1973
3            All-Bran  Kellogg's               1916  Currently Available
4       Rice Krispies  Kellogg's               1929  Currently Available

In [27]:
df3.head(4)

                 NAME      BRAND  Clean_launch_year       Clean_end_year
0          Grape-Nuts       Post               1897  Currently Available
1         Corn Flakes  Kellogg's               1907  Currently Available
2  Krumbles-Kellogg's  Kellogg's               1913                 1973
3            All-Bran  Kellogg's               1916  Currently Available

In [28]:
def func(row):
    if row['Clean_end_year'] == 'Currently available':
        return 2016
    else:
        return row['Clean_end_year']

In [44]:
df3[['Clean_launch_year']] = df3[['Clean_launch_year']].astype(float)

In [45]:
df3[['Clean_end_year_2']] = df3[['Clean_end_year_2']].astype(float)

KeyError: "['Clean_end_year_2'] not in index"

In [66]:
cereal = pandas.read_csv('/Users/davidleifer/Documents/cereals.csv')

In [67]:
df3 = cereal [[0,1,2,3]]
df3.head(5)

                       NAME          BRAND  Clean_launch_year Clean_end_year
0  Sugar Sprinkled Twinkles  General Mills               1960           1965
1                      Jets  General Mills               1950           1970
2             Rice Krinkles           Post               1951           1970
3                     Quake         Quaker               1965           1970
4        Krumbles-Kellogg's      Kellogg's               1913           1973

In [68]:
df3.head()

                       NAME          BRAND  Clean_launch_year Clean_end_year
0  Sugar Sprinkled Twinkles  General Mills               1960           1965
1                      Jets  General Mills               1950           1970
2             Rice Krinkles           Post               1951           1970
3                     Quake         Quaker               1965           1970
4        Krumbles-Kellogg's      Kellogg's               1913           1973

In [69]:
df3 = df3[df3.Clean_end_year != 'None']
df3.head(4)

                       NAME          BRAND  Clean_launch_year Clean_end_year
0  Sugar Sprinkled Twinkles  General Mills               1960           1965
1                      Jets  General Mills               1950           1970
2             Rice Krinkles           Post               1951           1970
3                     Quake         Quaker               1965           1970

In [70]:
def func(row):
    if row['Clean_end_year'] == 'Currently available':
        return 2016
    else:
        return row['Clean_end_year']

In [71]:
df3[['Clean_launch_year']] = df3[['Clean_launch_year']].astype(float)

In [72]:
df3[['Clean_end_year_2']] = df3[['Clean_end_year_2']].astype(float)

KeyError: "['Clean_end_year_2'] not in index"

In [76]:
df3['Cereal_tenure'] = (df3.Clean_end_year_2 - df3.Clean_launch_year)

AttributeError: 'DataFrame' object has no attribute 'Clean_end_year_2'

In [73]:
df4 = df3 [[0,5]]

IndexError: indices are out-of-bounds

In [74]:
tenured_cereals.head(5)

NameError: name 'tenured_cereals' is not defined

In [77]:
tenured_cereals_clean = tenured_cereals.head(200)

NameError: name 'tenured_cereals' is not defined

In [78]:
tenured_cereals = df4.groupby('Name').mean().sort_values(by='Cereal_tenure',ascending=False).round(decimals=0).reset_index()

NameError: name 'df4' is not defined

In [86]:
df4 = df3 [[0,3]]

In [87]:
tenured_cereals = df4.groupby('NAME').mean().sort_values(by='Cereal_tenure',ascending=False).round(decimals=0).reset_index()

DataError: No numeric types to aggregate

In [ ]:
tenured_cereals.head(5)